<h1 style='font-size:40px'> Texts Common Origin Analysis</h1>
<div> 
    <ul style='font-size:20px'> 
        <li>
            The present project aims at conceiving a ML system designed for verifying whether two pieces of texts actually came from the same article.
        </li>
        <li>
            The corpus we are dealing with has been extracted from Wikipedia by Professor Jeff Heaton and published at Kaggle.
        </li>
    </ul>
 </div>

In [8]:
import pandas as pd

# Altering pandas' default maximum column width.
pd.set_option('display.max_colwidth', 50)

# Loading the file.
df = pd.read_csv('data/train.csv').drop('id', axis=1)
df.head()

,sent1,sent2,same_source
0,"June – Moctezuma II, Aztec ruler of Tenochtitl...",The Swedish regent Sten Sture the Younger is m...,1
1,"The population was 1,097 at the 2010 census.",Like other Latino neighborhoods in New York Ci...,0
2,Europe and the Islamic World: A History.,There are no plans to resurrect it.,0
3,"Even where only a small charge is produced, it...",The Clarion-Limestone Area School District pro...,0
4,The highlight of Croatias recent infrastructur...,The closest analogy with the modern Web browse...,0

In [4]:
! git add .
! git commit -m 'Iniciar projeto'
! git push

[master 8c4c9cc] Iniciar projeto
 2 files changed, 428 insertions(+)
 create mode 100644 .ipynb_checkpoints/texts-same-article-checkpoint.ipynb
 create mode 100644 texts-same-article.ipynb
Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 24 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 2.43 KiB | 2.43 MiB/s, done.
Total 4 (delta 1), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/felipesveiga/texts-same-article.git
   50f3ed9..8c4c9cc  master -> master

<p style='color:red'> Baixei os dados do projeto; Criei o repo; Iniciar projeto</p>