<h1 style='font-size:40px'> Texts Common Origin Analysis</h1>
<div> 
    <ul style='font-size:20px'> 
        <li>
            The present project aims at conceiving a ML system designed for verifying whether two pieces of texts actually came from the same article.
        </li>
        <li>
            The corpus we are dealing with has been extracted from Wikipedia by Professor Jeff Heaton and published at <a href='https://www.kaggle.com/datasets/jeffheaton/are-two-sentences-of-the-same-topic'>Kaggle</a>.
        </li>
    </ul>
 </div>

In [3]:
import pandas as pd
import numpy as np

# Altering pandas' default maximum column width.
pd.set_option('display.max_colwidth', 50)

# Loading the file.
df = pd.read_csv('data/train.csv').drop('id', axis=1)
df.head()

,sent1,sent2,same_source
0,"June – Moctezuma II, Aztec ruler of Tenochtitl...",The Swedish regent Sten Sture the Younger is m...,1
1,"The population was 1,097 at the 2010 census.",Like other Latino neighborhoods in New York Ci...,0
2,Europe and the Islamic World: A History.,There are no plans to resurrect it.,0
3,"Even where only a small charge is produced, it...",The Clarion-Limestone Area School District pro...,0
4,The highlight of Croatias recent infrastructur...,The closest analogy with the modern Web browse...,0

<h2 style='font-size:30px'> Dataset Overview</h2>
<div> 
    <ul style='font-size:20px'> 
        <li>
            Now let's explore the texts - especially those from the same articles - so that we can think about a sensible strategy to succeed in this challenge.
        </li>
    </ul>
 </div>

In [4]:
# Note that we are dealing with a well balanced dataset.
df['same_source'].value_counts(normalize=True)

same_source
1    0.500488
0    0.499512
Name: proportion, dtype: float64

In [5]:
# Now, I've considered convenient to create a function that prints out
# instances from each target.
from pyboxen import boxen
from typing import Literal

def boxen_samples(df:pd.DataFrame, target:Literal[0, 1], sample_size:int=5, random_size:int=42)->None:
    '''
        Prints out some pairs of texts from a certain target in a `pyboxen.boxen` format.

        Note: Texts from the positive class are displayed inside green boxes, whereas the ones
        from the negative target in red ones.
        
        Parameters
        ----------
        `df`: `pd.DataFrame`
            The project's dataset.
        `target`: Literal[0, 1]
            The target group from which to make samples.
        `sample_size`: int, defaults to 5
            The amount of instances to print.
        `random_state`: int, defaults to 42
            The sampling random state.
    '''
    color = 'green' if target == 1 else 'red' # Defining the boxen's color according to the wished target.
    df_sample = df[df['same_source']==target].sample(sample_size, random_state=random_size)

    for i, series in df_sample.iterrows():
        print(boxen(f'Sentence 1: {series["sent1"]} \n\nSentence 2: {series["sent2"]}', title=f'Row {i}', color=color))

In [6]:
# Instances from the positive class.
boxen_samples(df, 1)

╭─ Row 97148 ─────────────────────────────────────────────────────────────────────────────────────────────────────╮
│Sentence 1: The racial makeup of the town was 97.56% White, 0.41% African American, 0.18% Native American, 0.41% │
│Asian, 0.28% from other races, and 1.15% from two or more races.                                                 │
│                                                                                                                 │
│Sentence 2: Originally Plantation Number 9 by the Court of Massachusetts Bay, Huntington has a colorful history, │
│hinted at by the towns incorporation date of March 5, 1855, decades later than the towns around it.              │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

╭─ Row 107031 ────────────────────────────────────────────────────────────────────────────────────────────────────╮
│ Sentence 1: Camelot is a castle and court associated with the legendary King Arthur.                            │
│                                                                                                                 │
│ Sentence 2: The name of the Romano-British town of Camulodunum (modern Colchester) was derived from the Celtic  │
│ god Camulus.                                                                                                    │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

╭─ Row 6853 ──────────────────────────────────────────────────────────────────────────────────────────────────────╮
│Sentence 1: Celestial historian Richard Allen noted that unlike the other constellations introduced by Plancius  │
│and La Caille, Phoenix has actual precedent in ancient astronomy, as the Arabs saw this formation as representing│
│young ostriches, Al Riāl, or as a griffin or eagle.                                                              │
│                                                                                                                 │
│Sentence 2: BD is of spectral type A1V, and ranges between magnitudes 5.90 and 5.94.                             │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

╭─ Row 5112 ─────────────────────────────────────────────────────────────────────────╮
│Sentence 1: Hispanic or Latino of any race were 0.81% of the population.            │
│                                                                                    │
│Sentence 2: There were 87 housing units at an average density of 2.4/sqmi (0.9/km²).│
╰────────────────────────────────────────────────────────────────────────────────────╯

╭─ Row 24352 ─────────────────────────────────────────────────────────────────────────────────────────────────────╮
│ Sentence 1: The population density was 4,519.4 people per square mile (1,621.6/km²).                            │
│                                                                                                                 │
│ Sentence 2: It is bordered to the west by Goose Creek, to the northwest by Barbourmeade, to the north by Manor  │
│ Creek, to the east by Ten Broeck, and to the south by a portion of Louisville.                                  │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

In [7]:
# Instances from the negative class.
boxen_samples(df, 0)

╭─ Row 48222 ─────────────────────────────────────────────────────────────────────────────────────────────────────╮
│Sentence 1: In addition, it is to be noted there was a 1-month period in which another woman served as the Acting│
│Postmaster for Gratz during Ms. Suters tenure, perhaps due to a short leave of absence for Suter and, that acting│
│role was held by Roberta G Minish from December 21, 1927 until January 18, 1928 when Ms. Suter returned to her   │
│position as Postmaster.                                                                                          │
│                                                                                                                 │
│Sentence 2: At the same time, the Chinese army of Ganzhou reconquers Turpan in Northern Xiongnu.                 │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

╭─ Row 90996 ────────────────────────────────────────────────────────╮
│Sentence 1: Sid and Nancy (1986), by Alex Cox.                      │
│                                                                    │
│Sentence 2: South New Castle is located at  (40.975430, -80.344624).│
╰────────────────────────────────────────────────────────────────────╯

╭─ Row 86016 ─────────────────────────────────────────────╮
│Sentence 1: Hard fall for man who had it all.            │
│                                                         │
│Sentence 2: The population was 11,545 at the 2010 census.│
╰─────────────────────────────────────────────────────────╯

╭─ Row 15535 ─────────────────────────────────────────────────────────────────────────────────────────────────────╮
│  Sentence 1: For every 100 females, there were 96.3 males.                                                      │
│                                                                                                                 │
│  Sentence 2: The median income for a household in the CDP was $24,679, and the median income for a family was   │
│  $31,719.                                                                                                       │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

╭─ Row 29459 ─────────────────────────────────────────────────────────────────────────────────────────────────────╮
│  Sentence 1: For every 100 females, there were 118.3 males.                                                     │
│                                                                                                                 │
│  Sentence 2: As of the census of 2000, there were 226 people, 96 households, and 67 families residing in the    │
│  township.                                                                                                      │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

<h3 style='font-size:30px;font-style:italic'> Sample Analysis</h3>
<div> 
    <ul style='font-size:20px'>
        <li> 
            We can observe that most fragments sampled from the same article touches on similar topics (demographics, history), and so tend to resort to typical words from that knowledge area.
        </li>
        <li>
            But we need to be aware that sometimes such documents may use jargons that are very specific to their field ("A1V"). A model might not be able to reckognize such term-theme relation if the word is rare in the corpus.
        </li>
        <li>
            And at last, note that there are some texts that although appear to be of the same subject, they do not belong to the same article! Just look at the last two red boxes, that talk about with demographics. Since correctly classifying those cases would be much more intricate, we need to accept a certain percentage of errors from our system.
        </li>
     </ul>
</div>

<h2 style='font-size:30px'> Data Treatment</h2>
<div> 
    <ul style='font-size:20px'> 
        <li>
            Before attempting any solution, we must turn our corpus into a matrix so that we can apply ML techniques.
        </li>
    </ul>
 </div>

In [20]:
# In order to legitimize any quality conclusion about our study, we must separate an exclusive dataset
# of our dataset for tests.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :-1], df.iloc[:, -1], train_size=.8, stratify=df.iloc[:, -1], random_state=42)

same_source
1    0.500484
0    0.499516
Name: proportion, dtype: float64

In [74]:
from statsmodels.stats.proportion import test_proportions_2indep

def _assert_equal_prop(y:pd.Series, alpha:float=.05)->bool:
    '''
        Verifies whether the sets produced by `sklearn.model_selection.train_test_split` have a similar
        target distribution as of the original dataset.

        Parameter
        ---------
        `y`: `pd.Series`
            The target distribution of a given dataset.
        `alpha`: float
            The significance level of our hypothesis test.

        Returns
        -------
        A boolean signaling if the distributions are statistically similar.
    '''
    y_counts = y.value_counts()
    df_counts = df['same_source'].value_counts()
    pvalue = test_proportions_2indep(df_counts[1], df_counts.sum(), y_counts[1], y_counts.sum()).pvalue
    if pvalue<alpha:
        return False
    return True

In [76]:
# The Hypothesis Tests assert that the split successfully maintained similar target distributions
# along the datasets.
try:
    _assert_equal_prop(y_train)
    _assert_equal_prop(y_test)
    print('Distributions Ok')
except:
    print('Distributions are not statistically similar')

Distributions Ok

In [10]:
! git add .
! git commit -m 'Iniciar Vetorização do set de treino'
! git push

[master c996d5e] Iniciar LDA?
 2 files changed, 158 insertions(+), 90 deletions(-)
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 24 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 1.30 KiB | 1.30 MiB/s, done.
Total 4 (delta 2), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/felipesveiga/texts-same-article.git
   46a27f5..c996d5e  master -> master

<p style='color:red'> Realizei o split dos datasets; Iniciar Vetorização do set de treino</p>